mixin program-part(data)
  +b.DIV.program-part
    each week in data
      +e.DIV.item
        +e.H4.title= week.name
        +e.DIV.day
          span Пн-Пт
          |#{week.weekdays}
        +e.DIV.day
          span Сб
          |#{week.saturday}
        +e.DIV.day
          span Вс
          |#{week.sunday}
mixin index()
  +b.MAIN.index
    +b.SECTION.intro
      +e.DIV.wrap
        +e.DIV.content
          +e.H1.text front-end developer online-курс
          +b.A.btn(class="--white scrollTo-btn" href="#order") записаться
    +b.SECTION.about#about
      +e.DIV.wrap
        +e.DIV.left
          +e.DIV.decor-bg
          +e.DIV.decor-text организаторы
          +e.IFRAME.video(src="https://www.youtube.com/embed/LnG93lhmVoM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
        +e.DIV.right
          +b.H2.section-title организаторы<br>курса
          +e.DIV.partners
            +e.IMG.partner(src="img/space_academy.png")
            +e.IMG.partner(src="img/itvdn.png")
          +e.P.text Как сделать обучение качественным и при этом доступным? Мы нашли решение этого вопроса! ITVDN и Space Academy объединили свои усилия, чтобы предложить вам новый образовательный продукт – четырехмесячный курс по специальности FrontEnd Developer, который удовлетворит даже самых амбициозных и требовательных студентов, потому что в нем заложен огромный объем знаний, практика и постоянная менторская поддержка учащихся. Мы работаем для вас.
          
    +b.SECTION.teacher
      +e.DIV.wrap
        +e.DIV.left
          +b.H2.section-title Александр <br>
            span Пономаренко
          +e.DIV.subtitle Автор курса, тренер и наставник
          +e.P.text Я буду с вами с первого до последнего дня обучения. Я помогу вам войти в мир веб разработки и сформировать необходимые базовые навыки. Предложенная мной программа подготовки специалистов – это лучшие практики, сформировавшиеся за три года обучения FrontEnd разработчиков.Участие ITVDN в данной программе онлайн обучения делает ее уникальной и очень информационно насыщенной – кроме обязательных тем и заданий, обозначенных в программе курса, вы получите 16 видео курсов, которые позволят вам получить много дополнительных знаний в соответствии с вашими личными целями и готовностью учиться
        +e.DIV.right
          +e.DIV.img-block
            +e.IMG.img(src="img/author1.png")
          +e.IMG.decor-text(src="img/decor-text-teacher.png")
    
    +b.SECTION.how#how
      +e.DIV.wrap
        +e.DIV.left
          +e.DIV.week
            +e.SPAN.week-days Пн-Пт
            +e.UL.week-plan(class="--weekdays")
              +e.LI.week-item
                +e.IMG.week-arrow(src="img/icons/right-arrow-white.svg")
                |Просмотр видео уроков по теме недели
              +e.LI.week-item
                +e.IMG.week-arrow(src="img/icons/right-arrow-white.svg")
                |Самостоятельное выполнение практических заданий
            +e.SPAN.week-days(class="--weekend") Сб
            +e.UL.week-plan(class="--saturday")
              +e.LI.week-item
                +e.IMG.week-arrow(src="img/icons/right-arrow-white.svg")
                |Проверка заданий тренером
            +e.SPAN.week-days(class="--weekend") Вс
            +e.UL.week-plan
              +e.LI.week-item
                +e.IMG.week-arrow(src="img/icons/right-arrow-white.svg")
                |Скайп конференция. Разбор ДЗ. Ответы на вопросы и введение в следующую тему
        +e.DIV.right
          +e.DIV.right-content
            +b.H2.section-title Как все <br>
              span устроено
            +e.P.text С понедельника по пятницу вы смотрите видео уроки по учебному плану, который вам даст преподаватель. В каждом уроке есть практические задания – все их нужно выполнять. Также для проверки усвоения материала после каждого урока вы будете проходить онлайн тестирование.  Ваши вопросы по выполнению заданий вы сможете в течение всей недели обсуждать с тренером и одногруппниками в специально созданном чате. В субботу тренер просматривает ваши ДЗ, а в воскресенье делает анализ, дает рекомендации, отвечает на ваши вопросы по технологиям прошедшей недели и дает установки на следующую неделю – знакомит с технологиями, которые вы будете изучать, объясняет их значение, сферу применения и расставляет акценты, выделяя самые важные темы.
    
    +b.SECTION.program#program
      +e.DIV.decor
        +e.IMG.decor-text(src="img/program.png")
      +e.DIV.wrap
        +b.H2.section-title курс start
        +program-part([
          {
            name: "1 неделя",
            weekdays: 'HTML. Просмотр видеоматериала по HTML. Выполнение домашнего задания',
            saturday: 'Проверка домашних работ',
            sunday: 'Скайп конференция. Разбор домашних работ. Ответы на вопросы и введение в следующую тему'
          },
          {
            name: "2 неделя",
            weekdays: 'CSS (основы). Селекторы и их приоритетность. Понятие потока (Float и Position). Псевдоклассы. Выполнение домашнего задания',
            saturday: 'Проверка домашних работ',
            sunday: 'Скайп конференция. Разбор домашних работ. Ответы на вопросы и введение в следующую тему'
          },
          {
            name: "3 неделя",
            weekdays: 'Flexbox. Разбор flexbox и верстка небольшого макета при помощи пройденного материала',
            saturday: 'Проверка домашних работ',
            sunday: 'Скайп конференция. Разбор домашних работ. Ответы на вопросы и введение в следующую тему'
          },
          {
            name: "4 неделя",
            weekdays: 'Неделя практики. Верстка сайта и разбор небольших тем (шрифты, фоны). Разбор CSS3 (transform, transition, animation)',
            saturday: 'Проверка домашних работ',
            sunday: 'Скайп конференция. Разбор домашних работ. Ответы на вопросы и введение в следующую тему'
          }
        ])
        +b.H2.section-title курс 
          span pro
        +program-part([
          {
            name: "1 неделя",
            weekdays: 'Введение в JS. Типы данных, операторы и переменные. Условные конструкции (условия, циклы) и массивы',
            saturday: 'Проверка домашних работ',
            sunday: 'Скайп конференция. Разбор домашних работ. Ответы на вопросы и введение в следующую тему'
          },
          {
            name: "2 неделя",
            weekdays: 'Объекты и функции. Области видимости.',
            saturday: 'Проверка домашних работ',
            sunday: 'Скайп конференция. Разбор домашних работ. Ответы на вопросы и введение в следующую тему'
          },
          {
            name: "3 неделя",
            weekdays: 'Конструкторы и прототипы. ES6',
            saturday: 'Проверка домашних работ',
            sunday: 'Скайп конференция. Разбор домашних работ. Ответы на вопросы и введение в следующую тему'
          },
          {
            name: "4 неделя",
            weekdays: 'События и DOM',
            saturday: 'Проверка домашних работ',
            sunday: 'Скайп конференция. Разбор домашних работ. Ответы на вопросы и введение в следующую тему'
          }
        ])
    
    +b.SECTION.subscription
      +e.DIV.wrap
        +b.H2.section-title(class="--lg") хотите полную <br> программу?
        +e.DIV.subtitle Оставьте свой E-Mail ниже и получите программу
        +e.FORM.form#programForm
          +b.DIV.mail-load#programMailLoad
            +e.SVG.icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 26 26" enable-background="new 0 0 26 26" width="512px" height="512px")
              path(d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z" fill="#00e676")
            +e.DIV.content Отправка
              +e.SPAN.content-dot .
              +e.SPAN.content-dot .
              +e.SPAN.content-dot .
          +e.INPUT.input(type="email" name="email" placeholder="Ваш E-Mail")
          +e.BUTTON.btn(type="submit") отправить
    
    +b.SECTION.bonus
      +e.DIV.left
        +e.DIV.left-content
          +b.H2.section-title Секрет <br> успеха
          +e.DIV.subtitle Стать профессионалом не просто
          +e.P.text Мало заплатить деньги за обучение – нужно учиться. Мало смотреть видео уроки – нужно своими руками переписать код каждого примера, найти и исправить свои ошибки в своем же коде. Быстро и уверенно идут к успеху только те, кто все свеи силы, мысли, время направляют на достижение цели.  Секрет успеха нашей программы  - постоянная поддержка. У вас будет полный набор учебных материалов с заданиями и примерами их решения, тренажер навыков и онлайн тестирование для быстрой проверки себя, а с другой – общение с одногруппниками и консультации тренера. Если Вы готовы – мы будем рады видеть Вас на нашем курсе!
          //- +b.A.btn(class="--accent scrollTo-btn" href="#order") консультация
      +e.DIV.right
        +e.DIV.courses
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/html-and-css-renewed") HTML & CSS
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/how-to-html-css") How to HTML&CSS
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/javascript-essential") JavaScript Essential
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/javascript-advanced") JavaScript Advanced
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/how-to-java-script") How To JavaScript
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/basics-using-git") Основы использования Git
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/bootstrap") Twitter Bootstrap 3
        +e.DIV.courses
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/landing") Курс по верстке лендинга 
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/javascript-patterns") JavaScript Шаблоны
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/html5-and-css3") HTML5 и CSS3
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/html5-webcomponents") HTML5 Web Components
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/jquery") JQuery
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/angular-js") AngularJS Essential
          +e.A.course(target="_blank" href="https://itvdn.com/ru/video/angular2_essential") Angular2 Essential
    
    +b.SECTION.bundles#bundles
      +b.H2.section-title выберите ваш вариант
      +e.DIV.list
        +e.DIV.item
          +e.H3.title Frontend Starter
          +e.SPAN.descr со скидкой по предоплате
          +e.DIV.price $83
          +e.SPAN.descr продолжительность
          +e.DIV.duration 7 недель
          +e.SPAN.descr стоимость
          +e.DIV.price(class="--old") $88
          +b.A.btn#courseChooser(href="#order" class="--stretch --ghost scrollTo-btn" data-course="start") заказать
        +e.DIV.item(class="--optimal")
          +e.H3.title полный курс
          +e.SPAN.descr со скидкой по предоплате
          +e.DIV.price $203
          +e.SPAN.descr продолжительность
          +e.DIV.duration 18 недель
          +e.SPAN.descr стоимость
          +e.DIV.price(class="--old") $225
          +b.A.btn#courseChooser(href="#order" class="--stretch --ghost scrollTo-btn" data-course="full") заказать
        +e.DIV.item
          +e.H3.title Frontend Pro
          +e.SPAN.descr со скидкой по предоплате
          +e.DIV.price $131
          +e.SPAN.descr продолжительность
          +e.DIV.duration 11 недель
          +e.SPAN.descr стоимость
          +e.DIV.price(class="--old") $138
          +b.A.btn#courseChooser(href="#order" class="--stretch --ghost scrollTo-btn" data-course="pro") заказать
    
    +b.SECTION.order#order
      +e.DIV.wrap
        +e.IMG.decor-text(src="img/descor-text-order.png")
        +e.DIV.content
          +b.H2.section-title хочу на курс !
          +e.FORM.form#orderForm
            +b.DIV.mail-load#orderMailLoad
              +e.SVG.icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 26 26" enable-background="new 0 0 26 26" width="512px" height="512px")
                path(d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z" fill="#00e676")
                  +e.DIV.content Отправка
                    +e.SPAN.content-dot .
                    +e.SPAN.content-dot .
                    +e.SPAN.content-dot .
            +e.DIV.form-inputs
              +e.DIV.form-group
                +e.INPUT.form-input(type="text" name="name" placeholder="Ваше имя")
              +e.DIV.form-group
                +e.INPUT.form-input(type="text" name="phone" placeholder="Ваш телефон")
              +e.DIV.form-group
                +e.INPUT.form-input(type="email" name="email" placeholder="E-Mail")
              +e.DIV.form-group
                +e.SELECT.form-input(name="course")
                  option(value="0") Выберите курс
                  option(value="start") Front-End Start
                  option(value="pro") Front-End Pro
                  option(value="full") Полный курс
            +b.BUTTON.btn(type="submit" class="--stretch --white") отправить
    
    +b.SECTION.contacts#contact
      +b.H2.section-title связаться с нами
      +e.DIV.wrap
        +e.DIV.item
          +e.H5.item-title Телефоны
          +e.A.item-contact(href="tel:0999033738") +38(099)903-37-38 <br>
          +e.A.item-contact(href="tel:0968843502") +38(096)884-35-02
        +e.DIV.item
          +e.H5.item-title E-Mail
          +e.A.item-contact(href="mailto:info@space-academy.com.ua") info@space-academy.com.ua
        +e.DIV.item
          +e.H5.item-title Адрес
          +e.SPAN.item-contact ул. Маршала Рыбалко, 11
