.intro
  height: 100vh
  position: relative
  background-image: url('../img/start-bg.png')
  background-size: cover
  background-position: center
  z-index: 1
  color: #fff
  display: flex
  align-items: center
  // @media #{$lg}
  //   font-size: 11px
  // @media #{$xlg}
  //   font-size: 16px
  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #000
    opacity: .5
    z-index: -1
  &__wrap
    position: relative
    display: flex
    width: 100%
    &::before
      content: ''
      display: block
      +col-xs(1)
      background-color: $accent-color
      @media #{$xs}
        margin-right: 2em
      @media #{$lg}
        margin-right: 4.4em
  &__content
    position: relative
    +col-xs(7)
    .btn
      position: absolute
      left: 0
      top: calc(100% + 5.2em)
  &__text
    // font-size: 6.2em
    text-transform: uppercase
    line-height: 1
    font-weight: 800
    @media #{$xs}
      font-size: 3em
    @media #{$lg}
      font-size: 5em
    @media #{$xlg}
      font-size: 6.2em


.about
  position: relative
  &__wrap
    @extend %container
    +col-xs(10)
    +col-lg(8)
    @media #{$xs}
      justify-content: center
    @media #{$lg}
      justify-content: space-between
  &__left
    +col-sm(5)
    @media #{$xs}
      padding: 5em 0 5em
    @media #{$lg}
      padding: 13.7em 0 18em
    z-index: 1
    position: relative
  &__decor-bg
    height: 110%
    width: 50%
    position: absolute
    top: -5%
    left: 25%
    background-color: $accent-color
    z-index: -1
  &__decor-text
    font-size: 7.5em
    color: $accent-color
    opacity: .05
    text-transform: uppercase
    font-weight: 800
    transform: rotate(-90deg)
    position: absolute
    top: 45%
    @media #{$xs}
      display: none
    @media #{$lg}
      left: -250px
    @media #{$xlg}
      left: -350px
    z-index: -1
  &__video
    width: 100%
    box-shadow: 0 15px 100px 0 rgba(0, 0, 0, 0.15)
    @media #{$xs}
      height: 15em
    @media #{$lg}
      height: 26em
    @media #{$xlg}
      height: 30em
  &__right
    +col-xs(8)
    +col-sm(4)
    @media #{$xs}
      padding-top: 5em
    @media #{$lg}
      padding-top: 13.7em
  &__partners
    height: 3.8em
    display: flex
    margin: 4em 0 4em
  &__partner
    height: 100%
    margin-right: 4.8em
  &__text
    line-height: 1.8


.teacher
  padding: 10.3em 0
  position: relative
  z-index: 1
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 31%
    height: 120%
    background-color: $accent-color
    z-index: -1
    @media #{$_sm}
      display: none
  &__wrap
    @extend %container
    +col-xs(8)
    // +col-sm(8)
    align-items: center
    justify-content: space-between
  &__left
    +col-sm(4)
    text-align: right
    @media #{$_sm}
      text-align: left
  &__subtitle
    font-size: 1.12em
    font-weight: 700
    margin: 2.5em 0
  &__text
    line-height: 1.9
  &__right
    +col-sm(5)
    display: flex
    align-items: flex-start
    justify-content: center
  &__img-block
    width: 75%
    background-color: #fff
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15)
    position: relative
    @media #{$_sm}
      margin-top: 4em
    &::before
      content: ''
      position: absolute
      width: 6.25em
      height: 3px
      background-color: $accent-color
      top: 31%
      left: 0
      transform: translate(-50%)
  &__img
    transform: translate(-10%, 12.2%)
    width: 100%
  &__decor-text
    width: 15%
    @media #{$_sm}
      display: none


.how
  position: relative
  z-index: 1
  @media #{$xs}
    padding: 8.3em 0 0
  @media #{$lg}
    padding: 8.3em 0
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%
    background-color: #000
    z-index: -1
    @media #{$_sm}
      width: 100%
  &__wrap
    @extend %container
    +col-sm(8)
    align-items: center
  &__left
    +col-sm(4)
    display: flex
    justify-content: flex-end
    color: #fff
    padding-right: 6.6em
    position: relative
    @media #{$_sm}
      padding-bottom: 6em
    &::before,
    &::after
      content: ''
      position: absolute
      left: 0
      width: 10px
      height: 50%
    &::before
      top: 0
      background-color: #fff
    &::after
      bottom: 0
      background-color: $accent-color
  &__week
    width: 66.6%
    &-days
      font-size: 1.3em
      font-weight: 700
      line-height: 1
      &--weekend
        color: $accent-color
    &-plan
      &--weekdays
        margin-bottom: 7.3em
      &--saturday
        margin-bottom: 3em
    &-item
      margin-top: 1.3em
      line-height: 1.5
      position: relative
    &-arrow
      width: 2em
      position: absolute
      right: 110%
      top: -20%
  &__right
    +col-sm(6)
    background-color: #fff
    display: flex
    @media #{$xs}
      justify-content: center
    @media #{$lg}
      justify-content: flex-end
    &-content
      +col-xs(9)
      +col-sm(8)
      // width: 83%
      padding: 10.3em 0
  &__text
    margin: 4em 0
    line-height: 1.9


.program
  position: relative
  z-index: 1
  @media #{$xs}
    padding: 0 0 1.4em
  @media #{$lg}
    padding: 11em 0 1.4em
  &__decor
    position: absolute
    top: 0
    left: 0
    width: 10%
    height: 100%
    background-color: $accent-color
    display: flex
    align-items: center
    justify-content: center
    @media #{$_sm}
      display: none
    &-text
      width: 70%
  &__wrap
    @extend %container
    +col-xs(8)
    +col-sm(6)
    flex-direction: column
  &-part
    display: flex
    flex-wrap: wrap
    margin: 3.3em 0 7.3em
    justify-content: space-between
    &__item
      +col-sm(5)

    &__title,
    &__day
      padding-left: 4.8em
    &__title
      font-weight: 700
      color: $accent-color
      text-transform: uppercase
      line-height: 3
    &__day
      position: relative
      margin-bottom: 1.2em
      line-height: 1.2
      @media #{$xs}
        padding-right: 0
      @media #{$lg}
        padding-right: 3em
      span
        position: absolute
        top: 0
        left: 0
        color: #818181


.subscription
  background-color: $accent-color
  color: #fff
  @media #{$xs}
    padding: 7em 0
  @media #{$lg}
    padding: 14em 0
  &__wrap
    +col-xs(8)
    +col-sm(4)
    margin: 0 auto
  &__subtitle
    font-size: 1.12em
    margin: 1.3em 0 4.8em
  &__form
    display: flex
    position: relative
    @media #{$_sm}
      flex-wrap: wrap
    label.error
      color: #ff0000
      position: absolute
      top: 120%
      left: 0
  &__input
    display: block
    width: 80%
    padding: 1.2em 0 1.2em 1.7em
    outline: none
    border: none
    @media #{$_sm}
      width: 100%
  &__btn
    text-align: center
    text-transform: uppercase
    background-color: #fff
    font-weight: 800
    border: none
    cursor: pointer
    outline: none
    padding: 0 2em
    transition: all .4s
    position: relative
    z-index: 1
    @media #{$_sm}
      height: 3.5em
      margin-top: 1em
      width: 100%
    &::before
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 0
      height: 100%
      background-color: #000
      transition: all .3s
      z-index: -1
    &:hover
      color: #fff
      &::before
        width: 100%

.bonus
  @extend %container
  &__left,
  &__right
    +col-sm(5)
  &__left
    @media #{$xs}
      padding: 7em 0
    @media #{$lg}
      padding: 7em 0 0 0
    &-content
      margin: 0 auto
      @media #{$xs}
        width: 90%
      @media #{$lg}
        width: 60%
  &__subtitle
    margin: 2.5em 0 2.5em
    font-size: 1.12em
    font-weight: 700
  &__text
    line-height: 2
    margin-bottom: 5em
  &__right
    background-color: #000
    color: #fff
    font-size: 1.12em
    display: flex
    @media #{$_sm}
      width: 100%
    @media #{$xs}
      padding: 8em 1em
    @media #{$lg}
      padding: 17em 2em
  &__courses
    width: 50%
    @media #{$xs}
      padding: 0 1em
    @media #{$lg}
      padding: 0 2em
  &__course
    display: block
    color: #fff
    line-height: 2
    border-bottom: 1px solid #fff
    margin-bottom: 2em
    position: relative
    font-weight: 700
    &::after
      content: ''
      position: absolute
      bottom: -1px
      left: 0
      width: 0
      height: 1px
      background-color: $accent-color
      transition: all .4s
    &:hover
      &::after
        width: 100%


.bundles
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  @media #{$xs}
    padding: 7em 0
  @media #{$lg}
    padding: 14.8em 0
  &__list
    margin-top: 7.8em
    display: flex
    width: 100%
    justify-content: center
    flex-wrap: wrap
  &__item
    text-align: center
    padding: 4.3em 3em
    +col-xs(10)
    +col-sm(3)
    +col-lg(2)
    background-color: #fafafa
    &--optimal
      background-color: #fff
      box-shadow: 0 20px 46px 0 rgba(0, 0, 0, 0.15)
      position: relative
      z-index: 1
      .bundles__title
        font-weight: 800
  &__title
    text-transform: uppercase
    font-size: 1.8em
    font-weight: 700
    margin-bottom: 1.5em
  &__descr
    font-size: 0.8em
    margin-bottom: 1em
    display: block
  &__price
    font-size: 3em
    font-weight: 700
    color: $accent-color
    margin-bottom: 1em
    &--old
      font-size: 1.8em
      color: #a1a1a1
  &__duration
    font-size: 1.12em
    font-weight: 700
    margin-bottom: 1.9em


.order
  padding: 7.5em 0
  position: relative
  z-index: 1
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%
    background-color: $accent-color
    z-index: -1
  &__decor-text
    position: absolute
    top: 50%
    left: 0
    transform: translate(-110%, -50%)
    width: 4.5em
  &__wrap
    @extend %container
    +col-sm(8)
    color: #fff
    background-color: #000
    position: relative
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.25)
    @media #{$xs}
      padding: 9.6em 2em
    @media #{$lg}
      padding: 9.6em 0
  &__content
    +col-sm(7)
    margin: 0 auto
  &__form
    position: relative
    label.error
      position: absolute
      top: 120%
      left: 0
      color: #ff0000
    &-group
      position: relative
      &:last-child
        padding-top: .9em
      @media #{$xs}
        width: 100%
        margin-bottom: 2.4em
      @media #{$lg}
        width: 45%
        margin-bottom: 3.4em
    &-inputs
      display: flex
      margin: 6.6em 0 5em
      flex-wrap: wrap
      justify-content: space-between
    &-input
      background-color: transparent
      border: none
      border-bottom: 1px solid #fff
      color: #fff
      font-size: 1.12em
      padding: .5em 0
      outline: none
      width: 100%
      border-radius: none

.contacts
  padding: 13.75em 0 12.1em
  display: flex
  flex-direction: column
  align-items: center
  &__wrap
    @extend %container
    +col-sm(8)
    margin-top: 4.8em
  &__item
    flex-grow: 1
    padding: 2.5em 0 1.7em 2em
    transition: all .5s
    font-size: 1.12em
    &-title
      font-weight: 700
      margin-bottom: 1.8em
    &-contact
      color: #000
      margin-bottom: 0.7em
      line-height: 2
      transition: all .4s
    &:hover
      box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.1)

a.contacts__item-contact
  &:hover
    color: $accent-color
