html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button {
  outline: none; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayBold/RalewayBold.ttf");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf");
  font-style: normal;
  font-weight: 800; }

.about__wrap, .teacher__wrap, .how__wrap, .program__wrap, .bonus, .order__wrap, .contacts__wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.intro {
  height: 100vh;
  position: relative;
  background-image: url("../img/start-bg.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .intro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: -1; }
  .intro__wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .intro__wrap::before {
      content: '';
      display: block;
      background-color: #4e26fd; }
      @media (min-width: 319px) {
        .intro__wrap::before {
          width: -webkit-calc( -webkit-calc( 100% / 10) * 1);
          width: calc( calc( 100% / 10) * 1); } }
      @media (min-width: 319px) {
        .intro__wrap::before {
          margin-right: 2em; } }
      @media (min-width: 1224px) {
        .intro__wrap::before {
          margin-right: 4.4em; } }
  .intro__content {
    position: relative; }
    @media (min-width: 319px) {
      .intro__content {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 7);
        width: calc( calc( 100% / 10) * 7); } }
    .intro__content .btn {
      position: absolute;
      left: 0;
      top: -webkit-calc(100% + 5.2em);
      top: calc(100% + 5.2em); }
  .intro__text {
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800; }
    @media (min-width: 319px) {
      .intro__text {
        font-size: 3em; } }
    @media (min-width: 1224px) {
      .intro__text {
        font-size: 5em; } }
    @media (min-width: 1800px) {
      .intro__text {
        font-size: 6.2em; } }

.about {
  position: relative; }
  @media (min-width: 319px) {
    .about__wrap {
      width: -webkit-calc( -webkit-calc( 100% / 10) * 10);
      width: calc( calc( 100% / 10) * 10); } }
  @media (min-width: 1224px) {
    .about__wrap {
      width: -webkit-calc( -webkit-calc( 100% / 10) * 8);
      width: calc( calc( 100% / 10) * 8); } }
  @media (min-width: 319px) {
    .about__wrap {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (min-width: 1224px) {
    .about__wrap {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .about__left {
    z-index: 1;
    position: relative; }
    @media (min-width: 767px) {
      .about__left {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 5);
        width: calc( calc( 100% / 10) * 5); } }
    @media (min-width: 319px) {
      .about__left {
        padding: 5em 0 5em; } }
    @media (min-width: 1224px) {
      .about__left {
        padding: 13.7em 0 18em; } }
  .about__decor-bg {
    height: 110%;
    width: 50%;
    position: absolute;
    top: -5%;
    left: 25%;
    background-color: #4e26fd;
    z-index: -1; }
  .about__decor-text {
    font-size: 7.5em;
    color: #4e26fd;
    opacity: .05;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 45%;
    z-index: -1; }
    @media (min-width: 319px) {
      .about__decor-text {
        display: none; } }
    @media (min-width: 1224px) {
      .about__decor-text {
        left: -250px; } }
    @media (min-width: 1800px) {
      .about__decor-text {
        left: -350px; } }
  .about__video {
    width: 100%;
    -webkit-box-shadow: 0 15px 100px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 15px 100px 0 rgba(0, 0, 0, 0.15); }
    @media (min-width: 319px) {
      .about__video {
        height: 15em; } }
    @media (min-width: 1224px) {
      .about__video {
        height: 26em; } }
    @media (min-width: 1800px) {
      .about__video {
        height: 30em; } }
  @media (min-width: 319px) {
    .about__right {
      width: -webkit-calc( -webkit-calc( 100% / 10) * 8);
      width: calc( calc( 100% / 10) * 8); } }
  @media (min-width: 767px) {
    .about__right {
      width: -webkit-calc( -webkit-calc( 100% / 10) * 4);
      width: calc( calc( 100% / 10) * 4); } }
  @media (min-width: 319px) {
    .about__right {
      padding-top: 5em; } }
  @media (min-width: 1224px) {
    .about__right {
      padding-top: 13.7em; } }
  .about__partners {
    height: 3.8em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 4em 0 4em; }
  .about__partner {
    height: 100%;
    margin-right: 4.8em; }
  .about__text {
    line-height: 1.8; }

.teacher {
  padding: 10.3em 0;
  position: relative;
  z-index: 1; }
  .teacher::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 31%;
    height: 120%;
    background-color: #4e26fd;
    z-index: -1; }
    @media (max-width: 766px) {
      .teacher::before {
        display: none; } }
  .teacher__wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 319px) {
      .teacher__wrap {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 8);
        width: calc( calc( 100% / 10) * 8); } }
  .teacher__left {
    text-align: right; }
    @media (min-width: 767px) {
      .teacher__left {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 4);
        width: calc( calc( 100% / 10) * 4); } }
    @media (max-width: 766px) {
      .teacher__left {
        text-align: left; } }
  .teacher__subtitle {
    font-size: 1.12em;
    font-weight: 700;
    margin: 2.5em 0; }
  .teacher__text {
    line-height: 1.9; }
  .teacher__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 767px) {
      .teacher__right {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 5);
        width: calc( calc( 100% / 10) * 5); } }
  .teacher__img-block {
    width: 75%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
    position: relative; }
    @media (max-width: 766px) {
      .teacher__img-block {
        margin-top: 4em; } }
    .teacher__img-block::before {
      content: '';
      position: absolute;
      width: 6.25em;
      height: 3px;
      background-color: #4e26fd;
      top: 31%;
      left: 0;
      -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
              transform: translate(-50%); }
  .teacher__img {
    -webkit-transform: translate(-10%, 12.2%);
        -ms-transform: translate(-10%, 12.2%);
            transform: translate(-10%, 12.2%);
    width: 100%; }
  .teacher__decor-text {
    width: 15%; }
    @media (max-width: 766px) {
      .teacher__decor-text {
        display: none; } }

.how {
  position: relative;
  z-index: 1; }
  @media (min-width: 319px) {
    .how {
      padding: 8.3em 0 0; } }
  @media (min-width: 1224px) {
    .how {
      padding: 8.3em 0; } }
  .how::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #000;
    z-index: -1; }
    @media (max-width: 766px) {
      .how::before {
        width: 100%; } }
  .how__wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 767px) {
      .how__wrap {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 8);
        width: calc( calc( 100% / 10) * 8); } }
  .how__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #fff;
    padding-right: 6.6em;
    position: relative; }
    @media (min-width: 767px) {
      .how__left {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 4);
        width: calc( calc( 100% / 10) * 4); } }
    @media (max-width: 766px) {
      .how__left {
        padding-bottom: 6em; } }
    .how__left::before, .how__left::after {
      content: '';
      position: absolute;
      left: 0;
      width: 10px;
      height: 50%; }
    .how__left::before {
      top: 0;
      background-color: #fff; }
    .how__left::after {
      bottom: 0;
      background-color: #4e26fd; }
  .how__week {
    width: 66.6%; }
    .how__week-days {
      font-size: 1.3em;
      font-weight: 700;
      line-height: 1; }
      .how__week-days--weekend {
        color: #4e26fd; }
    .how__week-plan--weekdays {
      margin-bottom: 7.3em; }
    .how__week-plan--saturday {
      margin-bottom: 3em; }
    .how__week-item {
      margin-top: 1.3em;
      line-height: 1.5;
      position: relative; }
    .how__week-arrow {
      width: 2em;
      position: absolute;
      right: 110%;
      top: -20%; }
  .how__right {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 767px) {
      .how__right {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 6);
        width: calc( calc( 100% / 10) * 6); } }
    @media (min-width: 319px) {
      .how__right {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 1224px) {
      .how__right {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
    .how__right-content {
      padding: 10.3em 0; }
      @media (min-width: 319px) {
        .how__right-content {
          width: -webkit-calc( -webkit-calc( 100% / 10) * 9);
          width: calc( calc( 100% / 10) * 9); } }
      @media (min-width: 767px) {
        .how__right-content {
          width: -webkit-calc( -webkit-calc( 100% / 10) * 8);
          width: calc( calc( 100% / 10) * 8); } }
  .how__text {
    margin: 4em 0;
    line-height: 1.9; }

.program {
  position: relative;
  z-index: 1; }
  @media (min-width: 319px) {
    .program {
      padding: 0 0 1.4em; } }
  @media (min-width: 1224px) {
    .program {
      padding: 11em 0 1.4em; } }
  .program__decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #4e26fd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 766px) {
      .program__decor {
        display: none; } }
    .program__decor-text {
      width: 70%; }
  .program__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 319px) {
      .program__wrap {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 8);
        width: calc( calc( 100% / 10) * 8); } }
    @media (min-width: 767px) {
      .program__wrap {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 6);
        width: calc( calc( 100% / 10) * 6); } }
  .program-part {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 3.3em 0 7.3em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 767px) {
      .program-part__item {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 5);
        width: calc( calc( 100% / 10) * 5); } }
    .program-part__title, .program-part__day {
      padding-left: 4.8em; }
    .program-part__title {
      font-weight: 700;
      color: #4e26fd;
      text-transform: uppercase;
      line-height: 3; }
    .program-part__day {
      position: relative;
      margin-bottom: 1.2em;
      line-height: 1.2; }
      @media (min-width: 319px) {
        .program-part__day {
          padding-right: 0; } }
      @media (min-width: 1224px) {
        .program-part__day {
          padding-right: 3em; } }
      .program-part__day span {
        position: absolute;
        top: 0;
        left: 0;
        color: #818181; }

.subscription {
  background-color: #4e26fd;
  color: #fff; }
  @media (min-width: 319px) {
    .subscription {
      padding: 7em 0; } }
  @media (min-width: 1224px) {
    .subscription {
      padding: 14em 0; } }
  .subscription__wrap {
    margin: 0 auto; }
    @media (min-width: 319px) {
      .subscription__wrap {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 8);
        width: calc( calc( 100% / 10) * 8); } }
    @media (min-width: 767px) {
      .subscription__wrap {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 4);
        width: calc( calc( 100% / 10) * 4); } }
  .subscription__subtitle {
    font-size: 1.12em;
    margin: 1.3em 0 4.8em; }
  .subscription__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    @media (max-width: 766px) {
      .subscription__form {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    .subscription__form label.error {
      color: #ff0000;
      position: absolute;
      top: 120%;
      left: 0; }
  .subscription__input {
    display: block;
    width: 80%;
    padding: 1.2em 0 1.2em 1.7em;
    outline: none;
    border: none; }
    @media (max-width: 766px) {
      .subscription__input {
        width: 100%; } }
  .subscription__btn {
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 2em;
    -webkit-transition: all .4s;
    transition: all .4s;
    position: relative;
    z-index: 1; }
    @media (max-width: 766px) {
      .subscription__btn {
        height: 3.5em;
        margin-top: 1em;
        width: 100%; } }
    .subscription__btn::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background-color: #000;
      -webkit-transition: all .3s;
      transition: all .3s;
      z-index: -1; }
    .subscription__btn:hover {
      color: #fff; }
      .subscription__btn:hover::before {
        width: 100%; }

@media (min-width: 767px) {
  .bonus__left, .bonus__right {
    width: -webkit-calc( -webkit-calc( 100% / 10) * 5);
    width: calc( calc( 100% / 10) * 5); } }

@media (min-width: 319px) {
  .bonus__left {
    padding: 7em 0; } }

@media (min-width: 1224px) {
  .bonus__left {
    padding: 7em 0 0 0; } }

.bonus__left-content {
  margin: 0 auto; }
  @media (min-width: 319px) {
    .bonus__left-content {
      width: 90%; } }
  @media (min-width: 1224px) {
    .bonus__left-content {
      width: 60%; } }

.bonus__subtitle {
  margin: 2.5em 0 2.5em;
  font-size: 1.12em;
  font-weight: 700; }

.bonus__text {
  line-height: 2;
  margin-bottom: 5em; }

.bonus__right {
  background-color: #000;
  color: #fff;
  font-size: 1.12em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 766px) {
    .bonus__right {
      width: 100%; } }
  @media (min-width: 319px) {
    .bonus__right {
      padding: 8em 1em; } }
  @media (min-width: 1224px) {
    .bonus__right {
      padding: 17em 2em; } }

.bonus__courses {
  width: 50%; }
  @media (min-width: 319px) {
    .bonus__courses {
      padding: 0 1em; } }
  @media (min-width: 1224px) {
    .bonus__courses {
      padding: 0 2em; } }

.bonus__course {
  display: block;
  color: #fff;
  line-height: 2;
  border-bottom: 1px solid #fff;
  margin-bottom: 2em;
  position: relative;
  font-weight: 700; }
  .bonus__course::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #4e26fd;
    -webkit-transition: all .4s;
    transition: all .4s; }
  .bonus__course:hover::after {
    width: 100%; }

.bundles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  @media (min-width: 319px) {
    .bundles {
      padding: 7em 0; } }
  @media (min-width: 1224px) {
    .bundles {
      padding: 14.8em 0; } }
  .bundles__list {
    margin-top: 7.8em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .bundles__item {
    text-align: center;
    padding: 4.3em 3em;
    background-color: #fafafa; }
    @media (min-width: 319px) {
      .bundles__item {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 10);
        width: calc( calc( 100% / 10) * 10); } }
    @media (min-width: 767px) {
      .bundles__item {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 3);
        width: calc( calc( 100% / 10) * 3); } }
    @media (min-width: 1224px) {
      .bundles__item {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 2);
        width: calc( calc( 100% / 10) * 2); } }
    .bundles__item--optimal {
      background-color: #fff;
      -webkit-box-shadow: 0 20px 46px 0 rgba(0, 0, 0, 0.15);
              box-shadow: 0 20px 46px 0 rgba(0, 0, 0, 0.15);
      position: relative;
      z-index: 1; }
      .bundles__item--optimal .bundles__title {
        font-weight: 800; }
  .bundles__title {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 1.5em; }
  .bundles__descr {
    font-size: 0.8em;
    margin-bottom: 1em;
    display: block; }
  .bundles__price {
    font-size: 3em;
    font-weight: 700;
    color: #4e26fd;
    margin-bottom: 1em; }
    .bundles__price--old {
      font-size: 1.8em;
      color: #a1a1a1; }
  .bundles__duration {
    font-size: 1.12em;
    font-weight: 700;
    margin-bottom: 1.9em; }

.order {
  padding: 7.5em 0;
  position: relative;
  z-index: 1; }
  .order::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #4e26fd;
    z-index: -1; }
  .order__decor-text {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-110%, -50%);
        -ms-transform: translate(-110%, -50%);
            transform: translate(-110%, -50%);
    width: 4.5em; }
  .order__wrap {
    color: #fff;
    background-color: #000;
    position: relative;
    -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.25); }
    @media (min-width: 767px) {
      .order__wrap {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 8);
        width: calc( calc( 100% / 10) * 8); } }
    @media (min-width: 319px) {
      .order__wrap {
        padding: 9.6em 2em; } }
    @media (min-width: 1224px) {
      .order__wrap {
        padding: 9.6em 0; } }
  .order__content {
    margin: 0 auto; }
    @media (min-width: 767px) {
      .order__content {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 7);
        width: calc( calc( 100% / 10) * 7); } }
  .order__form {
    position: relative; }
    .order__form label.error {
      position: absolute;
      top: 120%;
      left: 0;
      color: #ff0000; }
    .order__form-group {
      position: relative; }
      .order__form-group:last-child {
        padding-top: .9em; }
      @media (min-width: 319px) {
        .order__form-group {
          width: 100%;
          margin-bottom: 2.4em; } }
      @media (min-width: 1224px) {
        .order__form-group {
          width: 45%;
          margin-bottom: 3.4em; } }
    .order__form-inputs {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 6.6em 0 5em;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .order__form-input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 1.12em;
      padding: .5em 0;
      outline: none;
      width: 100%;
      border-radius: none; }

.contacts {
  padding: 13.75em 0 12.1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .contacts__wrap {
    margin-top: 4.8em; }
    @media (min-width: 767px) {
      .contacts__wrap {
        width: -webkit-calc( -webkit-calc( 100% / 10) * 8);
        width: calc( calc( 100% / 10) * 8); } }
  .contacts__item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 2.5em 0 1.7em 2em;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-size: 1.12em; }
    .contacts__item-title {
      font-weight: 700;
      margin-bottom: 1.8em; }
    .contacts__item-contact {
      color: #000;
      margin-bottom: 0.7em;
      line-height: 2;
      -webkit-transition: all .4s;
      transition: all .4s; }
    .contacts__item:hover {
      -webkit-box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.1); }

a.contacts__item-contact:hover {
  color: #4e26fd; }

.header {
  position: fixed;
  top: 30px;
  left: 0;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  -webkit-transition: all .4s;
  transition: all .4s;
  padding: 0 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff; }
  @media only screen and (max-width: 767px) {
    .header {
      top: 20px;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      height: auto; } }
  .header__logo {
    height: 40px; }
    @media only screen and (max-width: 767px) {
      .header__logo {
        height: 30px; } }
    .header__logo--itvdn {
      height: 50px;
      margin-left: 40px; }
      @media only screen and (max-width: 767px) {
        .header__logo--itvdn {
          height: 40px; } }
  .header--scrolled {
    top: 0;
    background-color: #000;
    height: 80px; }
    @media only screen and (max-width: 767px) {
      .header--scrolled {
        height: auto;
        padding: 20px 5%; } }

.main_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 767px) {
    .main_nav {
      display: none;
      width: 100%;
      text-align: center;
      padding: 30px 0; } }
  .main_nav__item {
    margin-right: 50px;
    position: relative; }
    @media only screen and (max-width: 992px) {
      .main_nav__item {
        margin-right: 20px; } }
    @media only screen and (max-width: 767px) {
      .main_nav__item {
        margin-right: 0; } }
    .main_nav__item:hover .dd_menu {
      visibility: visible;
      opacity: 1;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
      @media only screen and (max-width: 767px) {
        .main_nav__item:hover .dd_menu {
          position: static; } }
    .main_nav__item:last-child {
      margin-right: 0; }
  .main_nav__link {
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px; }
    .main_nav__link > i {
      font-size: 13px;
      margin-left: 7px; }
      @media only screen and (max-width: 767px) {
        .main_nav__link > i {
          margin-left: 3px; } }
    @media only screen and (max-width: 767px) {
      .main_nav__link {
        display: block;
        padding: 20px 0; } }
    @media only screen and (min-width: 768px) {
      .main_nav__link:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        -webkit-transition: all .4s;
        transition: all .4s; }
      .main_nav__link--active:after, .main_nav__link:hover:after {
        width: 97%; } }

.dd_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  padding-top: 30px; }
  @media only screen and (max-width: 767px) {
    .dd_menu {
      padding-top: 0;
      width: 100%; } }
  .dd_menu__link {
    display: block;
    padding: 15px 0 15px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transition: all .3s;
    transition: all .3s; }
    @media only screen and (max-width: 767px) {
      .dd_menu__link {
        padding: 15px 0 15px 0;
        background-color: #4e26fd; } }
    .dd_menu__link:hover {
      color: #4e26fd; }
      @media only screen and (max-width: 767px) {
        .dd_menu__link:hover {
          color: #fff; } }
  .dd_menu > li {
    background-color: #393939; }
    .dd_menu > li:last-child .dd_menu__link {
      border-bottom: none; }

.hamburger {
  display: none; }
  @media only screen and (max-width: 767px) {
    .hamburger {
      display: block; } }
  .hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .hamburger:hover {
    cursor: pointer; }

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
  #hamburger-6.is-active .line:nth-child(2) {
    width: 0px; }
  #hamburger-6.is-active .line:nth-child(1), #hamburger-6.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s; }
  #hamburger-6.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
        -ms-transform: translateY(13px);
            transform: translateY(13px); }
  #hamburger-6.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
        -ms-transform: translateY(-13px) rotate(90deg);
            transform: translateY(-13px) rotate(90deg); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

button {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px; }

.page {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden; }
  @media (min-width: 319px) {
    .page {
      font-size: 14px; } }
  @media (min-width: 1224px) {
    .page {
      font-size: 13px; } }
  @media (min-width: 1800px) {
    .page {
      font-size: 16px; } }
  .page__wrap {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto; }

.btn {
  display: block;
  width: 19em;
  height: 3.5em;
  line-height: 3.5em;
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  background-color: transparent; }
  .btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
    z-index: -1; }
  @media (min-width: 319px) {
    .btn {
      font-size: 12px; } }
  @media (min-width: 1224px) {
    .btn {
      font-size: 13px; } }
  @media (min-width: 1800px) {
    .btn {
      font-size: 18px; } }
  .btn--accent {
    color: #fff; }
    .btn--accent::before {
      background-color: #4e26fd; }
    .btn--accent::after {
      background-color: #fff;
      display: none; }
    .btn--accent:hover {
      color: #000; }
      .btn--accent:hover::before {
        height: 3px; }
  .btn--white {
    color: #000; }
    .btn--white::before {
      background-color: #fff; }
    .btn--white::after {
      background-color: #4e26fd; }
    .btn--white:hover {
      color: #fff; }
      .btn--white:hover::before {
        height: 3px; }
  .btn--stretch {
    width: 100%; }
  .btn--ghost {
    border: 2px solid #4e26fd;
    background-color: transparent;
    color: #4e26fd; }
    .btn--ghost::before {
      background-color: #4e26fd;
      height: 0; }
    .btn--ghost:hover {
      color: #fff; }
      .btn--ghost:hover::before {
        height: 100%; }
  .btn:hover::after {
    width: 100%;
    left: 0; }

.section-title {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.25; }
  @media (min-width: 319px) {
    .section-title {
      font-size: 30px; } }
  @media (min-width: 1224px) {
    .section-title {
      font-size: 48px; } }
  .section-title span {
    color: #4e26fd; }
  @media (min-width: 1800px) {
    .section-title--lg {
      font-size: 72px; } }

.mail-load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 2;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none; }
  .mail-load--shown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .mail-load--sended .mail-load__icon {
    display: block; }
  .mail-load--sended .mail-load__content {
    display: none; }
  .mail-load__content {
    text-transform: uppercase;
    font-weight: 700; }
    .mail-load__content-dot {
      margin: 0 3px; }
  .mail-load__icon {
    height: 1.5rem;
    display: none; }
