<!DOCTYPE html>
html(lang="en" style="font-family: 'Open-Sans', sans-serif")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&amp;subset=cyrillic" rel="stylesheet")
    body(style="width: 600px; margin: 0 auto;line-height:1.4")
        table(style="width: 100%")
            tr
                td(style="padding: 20px 0 20px 15px; box-sizing: border-box")
                    img(src="img/space_academy.png" style="height: 30px; margin-right: 20px")
                    img(src="img/itvdn.png" style="height: 40px")
                td(style="padding: 20px 15px 20px 0; box-sizing: border-box")
                    a(href="mailto:info@space-academy.com.ua" style="color: #000; font-size:12px; text-decoration: none; margin-right: 20px") info@space-academy.com.ua
                    a(href="tel:0999033738" style="color: #000; font-size:12px; text-decoration: none") +38(099)903-37-38
            tr
                td(colspan="2" style="padding: 100px; font-size: 30px; text-transform: uppercase; font-weight: 700; color: #fff; background-image: url(img/letter-bg.jpg)") Курс Front-end developer ONLINE
            tr
                td(colspan="2" style="padding: 50px")
                    h3(style="margin: 0;font-size: 20px; font-weight: 700; color: #5833FB") Здравствуйте, Иван!
                    p Мы получили Вашу заявку на курс <a href="http://frontend.itvdn.com/" style="font-weight: 700; text-decoration: underline;">Front-End Developer Online</a>. Наш менеджер свяжется с Вами в ближайшее время для уточнения деталей и ответа на все ваши вопросы касательно обученияю
                    div(style="color: #fff; background-color: #5833FB; padding: 40px")
                        h3(style="margin: 0 0 20px;font-size: 18px; font-weight: 700; color: #fff; text-transform: uppercase") информация о курсе:
                        p(style="margin-bottom: 7px;") Тренер - 
                            span(style="font-weight: 700;") Александр Пономаренко
                        p(style="margin-bottom: 7px;") Дата начала курса - 
                            span(style="font-weight: 700;") 04.08.2017
                        p(style="margin-bottom: 7px;") Продолжительность курса - 
                            span(style="font-weight: 700;") 18 недель
                        p Стоимость - 
                            span(style="font-weight: 700;") 5000 грн
                    div(style="margin-top: 50px")
                        |С уважением,<br>команда Space Academy<br>
                        |Телефон: <a href="tel:0968843502">+38(096)884-35-02</a><br>
                        |E-Mail: <a href="mailto:info@space-academy.com.ua">info@space-academy.com.ua</a>
            tr
                td(style="width: 50%; padding: 20px 0 20px 15px; box-sizing: border-box")
                    img(src="img/space_academy.png" style="vertical-align:middle;height: 30px; margin-right: 20px")
                    a(href="http://vk.com")
                        img(src="img/icons/vk.svg" style="height: 30px;vertical-align:middle;margin-right:10px")
                    a(href="http://facebook.com")
                        img(src="img/icons/004-fb.svg" style="height: 25px;vertical-align:middle;margin-right:10px")
                    a(href="http://instagram.com")
                        img(src="img/icons/003-inst.svg" style="height: 25px;vertical-align:middle")
                td(style="width: 50%; padding: 20px 15px 20px 0; box-sizing: border-box; text-align: right")
                    img(src="img/itvdn.png" style="height: 40px;vertical-align:middle;margin-right:20px;margin-top:-12px")
                    a(href="http://vk.com")
                        img(src="img/icons/vk.svg" style="height: 30px;vertical-align:middle;margin-right:10px")
                    a(href="http://facebook.com")
                        img(src="img/icons/004-fb.svg" style="height: 25px;vertical-align:middle;margin-right:10px")
                    a(href="http://youtube.com")
                        img(src="img/icons/001-youtube.svg" style="height: 25px;vertical-align:middle")
