//*********************************************
//		Assets
//*********************************************
@import "_base/reset"
@import "_base/variables"
@import "_base/fonts"
@import "_base/grid"

//*********************************************
//		Blocks
//*********************************************
@import "index/index"
@import "header/header"


//*********************************************
//		General
//*********************************************

*
  box-sizing: border-box

button
  font-family: $main-font
  letter-spacing: 2px

.page
  font-family: $main-font
  overflow-x: hidden
  @media #{$xs}
    font-size: 14px
  @media #{$lg}
    font-size: 13px
  @media #{$xlg}
    font-size: 16px
  &__wrap
    min-width: 320px
    max-width: 1920px
    margin: 0 auto


.btn
  // font-size: 18px
  display: block
  width: 19em
  height: 3.5em
  line-height: 3.5em
  text-align: center
  font-weight: 800
  letter-spacing: 2px
  text-transform: uppercase
  border: none
  position: relative
  z-index: 1
  transition: all .3s
  cursor: pointer
  background-color: transparent
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -2
    transition: all .3s
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 50%
    height: 3px
    width: 0
    transition: all .4s
    z-index: -1
  @media #{$xs}
    font-size: 12px
  @media #{$lg}
    font-size: 13px
  @media #{$xlg}
    font-size: 18px
  &--accent
    color: #fff
    &::before
      background-color: $accent-color
    &::after
      background-color: #fff
      display: none
    &:hover
      color: #000
      &::before
        height: 3px
  &--white
    color: #000
    &::before
      background-color: #fff
    &::after
      background-color: $accent-color
    &:hover
      color: #fff
      &::before
        height: 3px
  &--stretch
    width: 100%
  &--ghost
    border: 2px solid $accent-color
    background-color: transparent
    color: $accent-color
    &::before
      background-color: $accent-color
      height: 0
    &:hover
      color: #fff
      &::before
        height: 100%
  &:hover
    &::after
      width: 100%
      left: 0

.section-title
  text-transform: uppercase
  font-weight: 800
  line-height: 1.25
  @media #{$xs}
    font-size: 30px
  @media #{$lg}
    font-size: 48px
  span
    color: $accent-color
  &--lg
    @media #{$xlg}
      font-size: 72px


.mail-load
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #000
  z-index: 2
  align-items: center
  justify-content: center
  display: none
  &--shown
    display: flex
  &--sended
    .mail-load__icon
      display: block
    .mail-load__content
      display: none
  &__content
    text-transform: uppercase
    font-weight: 700
    &-dot
      margin: 0 3px
  &__icon
    height: 1.5rem
    display: none