include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head

include index/index
include header/header

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Online-курс Front-End Developer | Space Academy & ITVDN",
				"author": "Interact Agency",
				"description": "Online-курс Front-End Developer | Space Academy & ITVDN"
			})
			
		+b.BODY.page
			+e.DIV.wrap
				block header
					+header([
					  {
					    link: "Организаторы",
					    href: "#about"
					  },
					  {
					    link: "О формате",
					    href: "#how"
					  },
						{
					    link: "Программа",
					    href: "#program"
					  },
					  {
					    link: "Пакеты",
					    href: "#bundles"
					  },
					  {
					    link: "Запись",
					    href: "#order"
					  },
					  {
					    link: "Контакты",
					    href: "#contact"
					  }
					])
					
				block content
					div content

				//- block footer
				//- 	footer footer
				
			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/dist/jquery.min.js")
				script(src="libs/jquery-validation/dist/jquery.validate.min.js")
				script(src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
				script.
					$('.scrollTo-btn').scrollTo()
