mixin header(nav)
  +b.HEADER.header
    +e.DIV.logos
      a(href="http://space-academy.com.ua")
        +e.IMG.logo(src="img/logo_white_500.png")
      a(href="http://itvdn.com")
        +e.IMG.logo(src="img/itvdn.png" class="--itvdn")
    div.hamburger(id="hamburger-6")
      span.line
      span.line
      span.line
    +b.NAV.main_nav
      each item in nav
        +e.DIV.item
          if item.dd_menu
            +e.SPAN.link= item.link
              i(class="fa fa-caret-down", aria-hidden="true")
          else
            +e.A.link(target="_blank" class="scrollTo-btn" href= item.href, class=item.link === active ? 'main_nav__link--active' : 'main_nav__link')= item.link
          if item.dd_menu
            +b.UL.dd_menu
              each dd_item in item.dd_menu
                li
                  +e.A.link(target="_blank" href= dd_item.href)= dd_item.link
