.header
  position: fixed
  top: 30px
  left: 0
  height: 50px
  width: 100%
  align-items: center
  z-index: 100
  transition: all .4s
  padding: 0 5%
  display: flex
  justify-content: space-between
  color: #fff
  @media only screen and (max-width: 767px)
    top: 20px
    flex-wrap: wrap
    height: auto
  &__logo
    height: 40px
    @media only screen and (max-width: 767px)
      height: 30px
    &--itvdn
      height: 50px
      margin-left: 40px
      @media only screen and (max-width: 767px)
        height: 40px
  &--scrolled
    top: 0
    background-color: #000
    height: 80px
    @media only screen and (max-width: 767px)
      height: auto
      padding: 20px 5%


.main_nav
  display: flex
  @media only screen and (max-width: 767px)
    display: none
    width: 100%
    text-align: center
    padding: 30px 0
  &__item
    margin-right: 50px
    position: relative
    @media only screen and (max-width: 992px)
      margin-right: 20px
    @media only screen and (max-width: 767px)
      margin-right: 0
    &:hover
      .dd_menu
        visibility: visible
        opacity: 1
        transform: none
        @media only screen and (max-width: 767px)
          position: static
    &:last-child
      margin-right: 0
  &__link
    color: #fff
    font-weight: 700
    letter-spacing: 3px
    text-transform: uppercase
    font-size: 12px
    >i
      font-size: 13px
      margin-left: 7px
      @media only screen and (max-width: 767px)
        margin-left: 3px
    @media only screen and (max-width: 767px)
      display: block
      padding: 20px 0
    @media only screen and (min-width: 768px)
      &:after
        +pseudo
        bottom: -5px
        left: 0
        width: 0
        height: 2px
        background-color: #fff
        transition: all .4s
      &--active,
      &:hover
        &:after
          width: 97%


.dd_menu
  position: absolute
  top: 100%
  left: 0
  width: 400px
  box-sizing: border-box
  visibility: hidden
  opacity: 0
  transition: all .4s
  transform: translateY(30px)
  padding-top: 30px
  @media only screen and (max-width: 767px)
    padding-top: 0
    width: 100%
  &__link
    display: block
    padding: 15px 0 15px 20px
    color: #fff
    text-transform: uppercase
    font-size: 12px
    font-weight: 700
    letter-spacing: 2px
    border-bottom: 1px solid transparentize(#fff, .8)
    transition: all .3s
    @media only screen and (max-width: 767px)
      padding: 15px 0 15px 0
      background-color: $accent_color
    &:hover
      color: $accent_color
      @media only screen and (max-width: 767px)
        color: #fff
  >li
    background-color: $dark_color
    &:last-child
      .dd_menu__link
        border-bottom: none

.hamburger
  display: none
  @media only screen and (max-width: 767px)
    display: block
  .line
    width: 50px
    height: 5px
    background-color: #ecf0f1
    display: block
    margin: 8px auto
    transition: all 0.3s ease-in-out
  &:hover
    cursor: pointer

#hamburger-6.is-active
  transition: all 0.3s ease-in-out
  transition-delay: 0.6s
  transform: rotate(45deg)
  .line
    &:nth-child(2)
      width: 0px
    &:nth-child(1),
    &:nth-child(3)
      transition-delay: 0.3s
    &:nth-child(1)
      transform: translateY(13px)
    &:nth-child(3)
      transform: translateY(-13px) rotate(90deg)










  // ??????????????????
