mixin head(data)
	title= data.title
	meta(charset="utf-8")
	
	meta(content=data.author name="author")
	meta(content=data.description name="description")
	
	//- meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	meta(name="HandheldFriendly" content="true")
	meta(name="format-detection", content="telephone=no")
	meta(content="IE=edge" http-equiv="X-UA-Compatible")

	link(rel="shortcut icon", href="img/favicon/favicon.png", type="image/x-icon")
	link(rel="apple-touch-icon", href="img/favicon/apple-touch-icon.png")
	link(rel="apple-touch-icon", sizes="72x72", href="img/favicon/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="114x114", href="img/favicon/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="144x144", href="img/favicon/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="img/favicon/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon-180x180.png")
		
	// build:css css/vendor.css
	// endbuild
	
	// build:css css/main.css
	link(rel="stylesheet", href="css/main.css")
	// endbuild
