@font-face
	font-family: "Raleway"
	src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf")
	font-style: normal
	font-weight: 400

@font-face
	font-family: "Raleway"
	src: url("../fonts/Raleway/RalewayBold/RalewayBold.ttf")
	font-style: normal
	font-weight: 700

@font-face
	font-family: "Raleway"
	src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf")
	font-style: normal
	font-weight: 800
